<ng-container *ngIf="person != null; else elseTemplate">
    <form [formGroup]="WorkerForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label for="first_name">Imię: </mat-label>
            <input id="first_name" #name matInput type="text" formControlName="first_name">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="last_name">Nazwisko: </mat-label>
            <input id="last_name" matInput type="text" formControlName="last_name">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="position">Stanowisko: </mat-label>
            <input id="position" matInput type="text" formControlName="position">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="salary">Wypłata: </mat-label>
            <input id="salary" matInput type="number" formControlName="salary">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!WorkerForm.valid">
            Zapisz
        </button>


    </form>
</ng-container>
<ng-template #elseTemplate>
    <mat-progress-spinner></mat-progress-spinner>
</ng-template>
